*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url("/images/background.png");
	background-repeat: repeat;
	background-size: 100%;
}
/*begin heading*/
#heading #head{
	display: flex;
	background-color: #ffbcbc;
	width: 1520px;	
}
#head #logo{
	margin-left: 200px;
	width: 100px;
	height: auto;
}
#head #menu a{
	text-decoration: none;
	color:#254e7c;
	padding: 25px 15px;
	font-weight: bold;
}
#head #menu a:hover{
	background: #fce3e3;
	color: rgb(72,180,226);
	border-bottom: 2px solid rgb(72,180,226);
}
#head #menu{
	margin: auto;
}
#head #menu #active{
	background: #fce3e3;
	color: rgb(72,180,226);
}
#head #search{
	padding: 18px 0;
}
#head #search #input{
	height: 32px;
	width: 300px;
	border: none;
	border-bottom: 2px solid #254e7c;
	border-radius: 20px;
	padding-left: 10px;
	background-image: url("/images/search.png");
	background-repeat: no-repeat;	
	background-size: 20px 20px;
	background-position-x: 275px;
	background-position-y: 5px;
}
#cart a img{
	width: 32px;
	margin: 18px 85px;
}
#cart a img:hover{
	transform: scale(1.2);
}
/*end heading*/

/*begin banner*/
#banner a #banner-img{
	width: 1120px;
	margin: 0 200px 20px;
}
/*end banner*/

/*begin body*/
#body{
	display: flex;
	width: 1120px;
	margin: 100px 200px;
}
#body #information,#form{
	margin: 0 20px;
	font-size: 18px;
}
#body #information{
	color: white;
}
#body #information #content{
	color:#fce3e3;	
}
#form{
    background-color: rgba(252,227,227);
	width: 500px;
    border-radius: 10px;
}
#form #PH{
    text-align: center;
}
form{
	padding: 35px 25px;
    margin: 0 50px;
	color: #254e7c;
}
#form .input{
	width: 350px;
	height: 30px;
	border: none;
	border-bottom: 2px solid #1190CB;
}
#form #message{
	width: 350px;
	height: 150px;
	border: none;
	border-bottom: 2px solid #1190CB;	
}
#form #submit{
	margin: 20px 115px 0;
	width: 120px;
	height: 40px;
	border: none;
	background-color: #1190CB;
	color: white;
	font-weight: bold;
}
#form #submit:hover{
	opacity: 0.5;
}
/*end body*/

/*begin footer*/
.footer{
	margin: 120px 0 0;
	display: flex;
	border-top: 2px solid #1190CB;
	width: 1520px;
	padding: 20px 0;
	background-color: #fce3e3;
	justify-content: center;
}
.contact-info{
	width: 200px;
}
.contact-info a .contact{
	width: 10px;
}
.contact-info a{
	color: black;
}
.contact-info a:hover{
	color: #1190CB;
}
.map{
	margin: 0 100px;
}
.map #dc{
	width: 450px;
	height: 200px;
	border: none;
}
.link .logo{
	width: 30px;
	height: auto;
}
.link a{
	padding-right: 20px;
}
.link a:hover{
	opacity: 0.5;
}
h4{
	color:#1190CB;
}
/*end footer*/